@import "tailwindcss";

@theme {
  --font-cabin: Cabin, sans-serif;
  --color-uchuyellow-500: oklch(89% 0.146 91.5);
  --color-uchuyellow-600: oklch(82.39% 0.133 91.5);
}

ion-button {
  --color: black;
  --background: oklch(89% 0.146 91.5);
}
