@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

* {
  font-family: Cabin, sans-serif;
}

a {
  color: oklch(82.39% 0.133 91.5);
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a:visited {
  color: oklch(75.84% 0.122 92.21);
}
